/******** SHOP side *********/

/************ Lottiefile øverst på siden **********/
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-start;
  position: relative;
}

.fullscreen-video {
  max-width: 45%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .fullscreen-video {
    max-width: 90%;
    min-height: 200px;
    object-fit: cover;
  }
}
/*********** Produkt billede med tekst *******/
.grid1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 3%;
  margin-left: 30px;
  margin-right: 30px;
}

.grid1_1_1 h1 {
  margin-top: 30px;
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  text-align: left;
  color: #405572;
}

.grid1_1_1 p {
  margin-top: 20px;
  font-family: "Corben", sans-serif;
  font-size: 1.1rem;
  line-height: 2.5rem;
}

img {
  max-width: 100%;
  border-radius: 15px;
  margin-bottom: 50px;
}

.text {
  border: 1px solid #f2e7dc;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px #405572;
  transition: transform 0.3s ease;
  transform-origin: center;
  margin-bottom: 50px;
}

.text:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .grid1_1_1 {
    grid-template-columns: 1fr; /* En kolonne */
    gap: 20px; /* Justér afstand mellem elementerne */
    margin-left: 15px;
    margin-right: 15px;
  }
}
/*********** Read more knap **********/
.knap-container {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
  font-family: "Corben", sans-serif;
}

.shopknap {
  display: inline-block;
  background-color: #405572;
  color: #f2e7dc;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 1.5em;
  pointer-events: auto;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.shopknap:hover {
  background-color: #a9bf7a;
}

/************* Read more side ************/
.grid1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 3%;
  margin-left: 30px;
  margin-right: 30px;
}

.grid1_1 h1 {
  margin-top: 30px;
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  text-align: left;
  color: #405572;
}

.grid1_1 p {
  margin-top: 20px;
  font-family: "Corben", sans-serif;
  font-size: 1.1rem;
  line-height: 2.5rem;
}

img {
  max-width: 100%;
  margin-bottom: 50px;
}
.imageshop:hover {
  transform: scale(1.05);
}

/************* Form sign up *************/
@media (min-width: 600px) {
  .contact-container {
    padding: 20px 30px;
    width: 700px;
    max-width: 100%;
    justify-content: center;
    margin-left: 22rem;
    position: relative;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .form-row {
    display: flex;
    gap: 10px;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #e7dcd1;
    border-radius: 5px;
    background-color: #e7dcd1;
    font-size: 14px;
  }

  textarea {
    resize: none;
    height: 80px;
    width: 96.5%;
  }

  button {
    background-color: #405572;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    width: 100%;
  }
}
